/*body {
    background-color: linen;
 }
 h1 {
    color: maroon;
    margin-left: 40px;
 }*/

 a.nav-link:link
 {
    color: #b9a39b;
    text-decoration: none;
 }
 a.nav-link:visited
 {
    color: #b9a39b;
    text-decoration: none;
 }
 a.nav-link:hover
 {
    color: #151516;
    text-decoration: none;
 }
 a.nav-link:active
 {
    color: #b9a39b;
    text-decoration: none;
 }

 h1{
   font-family:arial; 
   font-size: x-large ;
 }

 h2{
   font-family:'Courier New', Courier, monospace; 
   font-size: x-large ;
 }
 
 h3{
   font-family:'Courier New', Courier, monospace; 
    color:#000000;
 }

 #output{
    font-family:arial; 
    color:#0000ff;
 }

 #st{
    font-family: Georgia;
    font-size: initial;
 }
 body{
   background-image: 'picture/whaam.png';
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
 .c1{
    font-family:arial;
    font-size: larger;
 }

 .c2{
    color:#428328;
 }

 #op{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
 }
